a{text-decoration: none;}
h1{font-size: 16px; line-height: 16px;}
h2{font-size: 14px;line-height: 14px;}
h3{font-size:15px;}
hr{margin: 40px 0;
border-bottom: 2px solid #FFF;
clear: both;}
h1.bigLight{font-size: 70px; line-height: 70px;font-weight: 300;margin-bottom: 20px;}
textarea,
input[type="text"]{margin: 0px;border-width: 0px;border-style: none;padding: 7px;color: #292929; font-size: 10px;}
input[type="submit"]{padding: 7px;border: medium none;font-size: 10px;margin: 0px;}
input[type="submit"].blackButton{background-color: #292929;color: #E1E1E0;cursor: pointer;}

.italicText{font-style: italic;}
a.borderButton{font-size: 10px !important; color: #251A19;border: solid 1px #251A19;padding: 10px 20px;}
span.borderSpan{border-top: 1px solid #E1E1E0;border-bottom: 1px solid #E1E1E0;padding: 10px 0;margin: 25px 0;display: inline-block;}
b{font-weight: 600;}
.red{color: #d1153a;}
.green{color:#bbd42f !important;}
.clear{clear: both;}
.arrowIcone{background-image: url(/app/img/mobileSprite.png);width: 15px; height: 12px;display: inline-block;background-position:-198px -5px;}
header{width: 100%; position: fixed; top: 0; left: 0;z-index: 100;background-color:#F3F3F3; height:65px;text-align: center;}
header #headerLogo{float: left;width: 524px;}
header ul.navMenu{transition:top 0.6s;background-color:#F3F3F3;position: fixed;top: -110%;left: 0;z-index: 105;height: 100%;width: 100%;}
header ul.navMenu.show{top:0;}
header ul.navMenu li{border-bottom: solid 1px #c8c8c8;height: 20%;display: flex;justify-content: center;align-content: center;flex-direction: column;}
header ul.navMenu li a{line-height:50px; font-size: 80px !important;color: #525252;}
header ul.navMenu li h2{font-weight: 500;line-height:50px; font-size: 30px;color: #525252;cursor: pointer;}
header ul.navMenu li.active{background-image: url('/app/img/layoutBack.png');}
header ul.navMenu li.active h2,
header ul.navMenu li.active a{color:#deddda;}
header #menuButton{width: 100px;height: 96px;left: 0px;top: 26px;background-image: url("/app/img/mobile/buttonback.png");padding: 45px 30px;border: 1px solid #C3C3C3;border-radius: 5px;position: absolute;}
header #menuButton .lineItem{width: 100px;float: right;background-color: #4F4F4F;margin: 5px 0;height: 3px;border-radius: 5px;}
header ul.languageContainer{border: 1px solid #c3c3c3;border-radius: 5px;height: 186px;margin-top: 27px;float: right;background-image: url(/app/img/mobile/buttonback.png);}
header ul.languageContainer li{height: 186px;float: left;background-image: url(/app/img/mobile/sprite.png); background-repeat: no-repeat;}
header ul.languageContainer li.facebook{width: 107px;background-position: 0 13px;border-right: 1px solid #c3c3c3;margin-left: 10px;}
header ul.languageContainer li.localtion{width: 123px;background-position: -75px 0px;margin: 0px 9px;}
header ul.languageContainer li.localtion.open{background-position: 13px -131px;}
header ul.languageContainer li.localtion.open span{display: none;}
header ul.languageContainer li span{color: #4f4f4f;font-size: 25px;position: absolute;right: 11px;top: 160px;}
header ul.sub{display:none;background-image: url("/app/img/mobile/buttonback.png");position: fixed;right: 0px;top: 215px;width: 257px;height: 376px;border: 1px solid #C3C3C3;border-radius: 5px;}
header ul.sub li{height: 187px;border-bottom: 1px solid #C3C3C3;}
header ul.sub li i{background-image: url("/app/img/mobile/sprite.png");width: 100px;height: 186px;display: block;float: left;background-position: -82px 23px;border-right: 1px solid #C3C3C3;}
header ul.sub li span{font-size: 32px;width: 100px;color: #4F4F4F;float: left;margin: 62px 0px 0px 15px;}

#rotateWarning{position: fixed;top:0;left:0;width:100%;height:100%;background-color: #525252;z-index: 1005;}
#rotateWarning .content{position: absolute;text-align: center;width: 600px;height: 230px;margin: -115px 0 0 -300px;top: 50%;left: 50%;}
#rotateWarning h1{color: #fff;font-size: 30px; margin-top: 30px;line-height: 45px;}
#rotateWarning img{display: inline-block;}

.Line{position: absolute;width: 100%; background-image: url(/app/img/hr.png);height: 9px;}
.topL.Line{top:0;}
.bottomL.Line{bottom: 65px;}

.fadein{opacity: 0;}
.fadeout{transition: opacity 1s;opacity: 1;transition-delay: 0.3s;
		-webkit-transition: opacity 1.5s;	-webkit-transition-delay: 0s;}
.threeDBefore{transform: rotateX(90deg);top:-30px; 
			-ms-transform: rotateX(90deg); 
			-webkit-transform: rotateX(90deg);}
.threeD1{transition:transform 0.8s;transform: rotateX(0deg);transition-delay: 0.8s;top: 0px;
		-ms-transition:transform 0.8s;-ms-transform: rotateX(0deg);-ms-transition-delay: 0.8s;top: 0px;
		-webkit-transition:transform 0.8s;-webkit-transform: rotateX(0deg);-webkit-transition-delay: 0.8s;top: 0px;}
.threeD2{transition:transform 0.8s;transform: rotateX(0deg);transition-delay: 1s;top: 0px;
		-ms-transition:transform 0.8s;-ms-transform: rotateX(0deg);-ms-transition-delay: 1s;top: 0px;
		-webkit-transition:transform 0.8s;-webkit-transform: rotateX(0deg);-webkit-transition-delay: 1s;top: 0px;}
.threeDSBefore{transform: rotateX(90deg);
		-ms-transform: rotateX(90deg);
		-webkit-transform: rotateX(90deg);}
.threeDS1{transition:transform 0.8s;transform: rotateX(0deg);transition-delay: 0.8s;
		-ms-transition:transform 0.8s;-ms-transform: rotateX(0deg);-ms-transition-delay: 0.8s;
		-webkit-transition:transform 0.8s;-webkit-transform: rotateX(0deg);-webkit-transition-delay: 0.8s;}

.containerContent{position: fixed;top: 65px;width: 100%;bottom: 0px;height: 100%;}
.centerContainer.home .containerContent h1{font-weight: 800;line-height: 8px;}
.centerContainer.home .containerContent h2{margin: 10px 0px;font-weight: 600;color: #c01d24;font-style: italic;}
.centerContainer.home .containerContent p{text-align: left; margin: 10px 0px;font-size:10px; color: #949393;line-height: 12px;margin-bottom: 20px;}
.centerContainer.home .containerContent .chocolate h1{color: #482b1e;}
.centerContainer.home .containerContent ul.homeSlider{top: 20px;max-width: 980px;margin: auto;text-align: center;}
.centerContainer.home .containerContent ul.homeSlider li img{width: 400px;display: inline-block;vertical-align: middle;}
.centerContainer.home .containerContent ul.homeSlider li img.show{transition:left 1s;left: 0;}
.centerContainer.products .containerContent .productContainer{cursor: pointer; box-shadow: 2px 3px 5px #9e9e9e;margin: 0px 18px 20px 0px;background-image: url(/app/img/light.jpg);padding: 10px;border-radius: 10px;display: inline-block;border-bottom-right-radius: 120px;}
.centerContainer.products .containerContent .productContainer h3{display: none;}
.centerContainer.products .containerContent .productContainer.detail{cursor: auto; box-shadow: 2px 2px 3px #9e9e9e;position: fixed;left:-300px;top: 170px;transition: padding 0.8s,margin 0.5s;padding: 10px 10px 40px;margin-left: 335px;}
.centerContainer.products .containerContent .productContainer.detail h3{position: absolute;bottom: 15px;left: 25px;cursor: pointer;display: block;}
.centerContainer.products .containerContent .productContainer.detail h3 i{top: 4px;left: -4px;width: 20px;height: 20px;display: inline-block;background-position: -193px -19px;background-image: url(/app/img/mobileSprite.png); }
.centerContainer.home .containerContent ul.homeSlider > li{position: absolute;left: 0;right: 0;transition:opacity 0.6s;opacity: 0;}
.centerContainer.home .containerContent ul.homeSlider li.show{transition:opacity 0.6s;opacity: 1;}
.centerContainer.home .containerContent .buttonContainer{position: fixed;bottom: 20px;right: 10px;left: 10px;text-align: center;}
.centerContainer.home .containerContent .buttonContainer a:last-child{margin-left: 2px;}
.centerContainer.home .containerContent .buttonContainer a:first-child{margin-left: 2px;}
.centerContainer.home .containerContent .buttonContainer i.rs{background-position: -59px 0px;}
.centerContainer.home .containerContent ul.homeSlider li img{width: 100%;}
.centerContainer.home .containerContent ul.homeSlider li ul{background-image: url(/app/img/mobile/ul.png);position: fixed;bottom: 187px;left: 0px;color: #FFF;width: 100%;text-align: left;list-style: circle outside none;padding:30px 0;}
.centerContainer.home .containerContent ul.homeSlider li ul li{position: relative;font-size: 32px;margin: 20px 50px;line-height: 45px;font-weight: 600;}
.centerContainer.home .containerContent ul.homeFooter{position: fixed;bottom: 0; width: 100%; height: 186px;border:1px solid #C3C3C3;background-image: url(/app/img/mobile/buttonback.png);}
.centerContainer.home .containerContent ul.homeFooter li{width: 31%;border-right:1px solid #C3C3C3;height: 186px;float: left;text-align: center;}
.centerContainer.home .containerContent ul.homeFooter li:last-child{border-right: none;}
.centerContainer.home .containerContent ul.homeFooter li i{background-size: 550px;margin: 30px 10px 0px 20px;background-image: url(/app/img/mobile/sprite.png);width: 120px;height: 115px;display: inline-block;}
.centerContainer.home .containerContent ul.homeFooter li h3{vertical-align: 90%;text-align: left; line-height: 32px;font-size: 22px;color: #4F4F4F;width: 140px;display: inline-block;margin-top: 55px;}
.centerContainer.home .containerContent ul.homeFooter li.slider3 i{background-position: -152px 0px;}
.centerContainer.home .containerContent ul.homeFooter li.slider2 i{background-position: -292px 0px;}
.centerContainer.home .containerContent ul.homeFooter li.slider1 i{background-position: -437px 0px;}
.centerContainer.home .containerContent ul.homeFooter li.show{border-top: 25px solid #4F4F4F;}

.contentBox{overflow: auto;text-align: center; position: fixed;left: 0px;top: 65px;height: 100%;width: 100%;background-image: url('/app/img/light.jpg');}
.contentBox.customer{background-image: url('/app/img/dark.jpg');}
.contentBox .bottomLeftColum{width: 50%;position:fixed;bottom: 0;left:0;padding: 0px 0px 45px 45px;}
.contentBox .bottomRightColum{width: 50%;position:fixed;bottom: 0;right:0; text-align: right;padding: 0px 45px 45px 0px;}
.contentBox .topLeftColum{float: left; width: 500px;padding: 30px 0px 0px 45px;}
.contentBox .topRightColum{float: right; width: 500px;text-align: right;padding: 30px 45px 0px 0px;}
.contentBox .centerRightColum{width: 70%;text-align: right;padding: 30px 45px 0px 0px; position: fixed;right: 0; top:25%;}
.contentBox .centerCenterColum{text-align: center;width: 100%;position: fixed;top:20%;}

.contentBox .bottomColum{width: 100%;position:fixed;bottom: 30px;left:15px;text-align: left;}
.contentBox .topColum{text-align: left;display:inline-block;margin-top: 75px;}

.contentBox label,
.contentBox a,
.contentBox span{font-size: 10px;color:#4F4F4F; line-height: 15px;}
p{font-size: 9px;color: #e5e5e5;line-height: 12px;}
.contentBox .bottomLeftColum h1{font-weight: bold; color: #fff;}
.contentBox .imgContainer{display: inline-block;}

.home.contentBox .bottomColum{color: #ffffff;}
.home.contentBox .bottomColum h1{font-weight: 800;text-align: left;}

.mapContainer{width: 100%;height: 100%;position: fixed;}
.mapContainer #map{width: 100%;height: 100%;z-index: 10;}
.contact.contentBox .topColum{z-index: 11;}
.contact.contentBox .topColum .partial{display: block;float: left; width: 50%;height: 70px;}
.contact.contentBox .topColum .partial span{font-size: 9.8px;}
.contact.contentBox .topColum .labelContainer{display:inline-block;width: 65px;text-align: left;vertical-align: top;}
.contact.contentBox .topColum .labelContainer label{margin:0 0 11px 0;display: block;line-height: 23px;}
.contact.contentBox .topColum .labelContainer label i{float: right;}
.contact.contentBox .topColum .formContainer{display: inline-block;width: 225px;}
.contact.contentBox .topColum .formContainer span.result{color: #fff;}
.contact.contentBox .topColum .formContainer input,
.contact.contentBox .topColum .formContainer textarea{width: 205px; margin:0 0 8px 0;}
.contact.contentBox .topColum .formContainer form,
.contact.contentBox .topColum .formContainer .redButton{width: 220px; float: right;}
.contact.contentBox .topColum .formContainer textarea{height: 50px; background-color:#e9e9e9;}
.contact.contentBox .topColum h1{font-weight: 800;text-align: left;color: #fff;}
.contact.contentBox .topColum .centerBox{width: 300px;margin-top: 20px;}

.aboutUs.contentBox{background-image: url(/app/img/light.jpg);}
.aboutUs.contentBox .topColum h1{color: #536D20; font-size: 25px;line-height: 30px;margin-bottom: 15px;font-weight: 300;}
.aboutUs.contentBox .topColum{margin: 15px 15px 15px;height: 1500px;}
.aboutUs.contentBox .topColum p{color: #4F4F4F; text-align: left;margin-bottom: 20px;font-size: 12.5px;line-height: 17.5px;}
.aboutUs.contentBox .topColum span{display: inline-block;width: 100%;}
.aboutUs.contentBox .topColum .imgContainer{width: 100%;height: auto;margin-bottom: 20px;}
.aboutUs.contentBox .topColum .imgContainer img{cursor: auto;width: 100%;}
.aboutUs.contentBox .topColum .titleContainer{height: 44px; border-top: 1px solid #FFF;border-bottom: 1px solid #FFF;margin-bottom: 20px;}
.aboutUs.contentBox .topColum .bigContentCon{text-align: center;margin-bottom: 20px;}

.customer.contentBox .topColum{height: 1150px;margin-top: 0;}
.customer.contentBox .topColum img {width: 100%;}
.customer.contentBox .topColum .content{background-color: #F8F7F3;margin: -65px 15px 20px;;padding: 8px 15px 17px;}
.customer.contentBox .topColum .content h1{color: #db2035;font-size: 17.5px;font-weight: 300;margin-bottom: 7px;}
.customer.contentBox .topColum .content h3{font-size: 9px;font-weight: 600;color: #525252;margin-bottom: 10px}
.customer.contentBox .topColum .content p{font-size: 9px;color: #525252;}
#full-body-galeri img{max-width: 220px;padding: 5px;border: 1px solid #6CA201;margin: 10px;max-height: 220px;}
#full-body-galeri{text-align: center;}

@media (min-width:900px) and (max-width:2400px){
	h1{font-size: 48px;line-height: 50px !important;}
	h2{font-size: 42px;line-height: 45px;}
	.centerContainer.home .containerContent .buttonContainer a{font-size: 36px;}
	.centerContainer.home .containerContent ul.homeSlider li .textcontainer{bottom: 100px;}
	.centerContainer.home .containerContent ul.sliderPoint{bottom: 250px;}
	.centerContainer.home .containerContent .buttonContainer{bottom: 35px;}
	header{height: 215px;}
	.containerContent{top: 195px;}
	header #menuButton .lineItem{margin: 10px 0px;height: 12px;}
	header #headerLogo{position: fixed;left: 170px;top: 55px;}
	.centerContainer.home .containerContent .buttonContainer a {margin-left: 50px;}
	.centerContainer.home .containerContent .buttonContainer a:last-child {margin-left: 20px;}
	.centerContainer.home .containerContent .buttonContainer i{width: 67px;height: 60px;}
	.centerContainer.home .containerContent .buttonContainer i.rs{background-position: -11px -24px;margin-bottom: -5px;}
	.centerContainer.home .containerContent .buttonContainer i.kt{background-position: 5px -79px;}
	.centerContainer.home .containerContent .buttonContainer i.tw {background-position: -75px -77px;height: 63px;}
	.centerContainer.home .containerContent .buttonContainer i.fb {height: 63px;background-position: -148px -77px;}
	.centerContainer.home .containerContent ul.sliderPoint li i.arrowIcone{width: 40px;height: 40px;background-position: -177px -33px;}
	.centerContainer.home .containerContent ul.sliderPoint li i.arrowIcone.active {background-position: -137px -33px;}

	header ul.navMenu li a,
	header ul.navMenu li h2{font-size: 100px;line-height: 250px;}

	header ul.navMenu li a span{font-size: 30px;position: absolute;margin-left: -530px;margin-top: 70px;color:#bababa;}

	.contentBox{top: 195px;}

	.customer.contentBox .topColum .content p,
	.aboutUs.contentBox .topColum p{font-size: 37.5px;line-height: 60px;letter-spacing: 1.5px;}
	.customer.contentBox .topColum .content h1,
	.aboutUs.contentBox .topColum h1{font-size: 75px;line-height: 100px !important; margin:50px 0;}
	.aboutUs.contentBox .topColum {margin:10px 50px;height: 5300px;}
	.aboutUs.hizmet.contentBox .topColum {height: 4300px;}
	.aboutUs.referanslar.contentBox .topColum {height: 1850px;}
	.aboutUs.referanslar.contentBox .topColum p a{text-decoration: underline;}
	.customer.contentBox .topColum .content h3 {font-size: 45px;margin-top: -30px}
	.customer.contentBox .topColum .content {margin: -180px 15px 60px;padding: 1px 50px 50px;}
	.customer.contentBox .topColum .content.newFair{margin-top: 10px;}
	.customer.contentBox .topColum {height: 3600px;}

	.contact.contentBox .topColum .labelContainer{width: 200px;}
	.contentBox label, .contentBox a, .contentBox span {font-size: 30px;}
	.contact.contentBox .topColum .labelContainer label{line-height: 77px;}
	.contact.contentBox .topColum .formContainer {width: 675px;}
	.contact.contentBox .topColum .formContainer form, 
	.contact.contentBox .topColum .formContainer .redButton {width: 660px;font-size: 30px;}
	.contact.contentBox .topColum .formContainer input, 
	.contact.contentBox .topColum .formContainer textarea {width: 645px;font-size: 44px;}
	.contact.contentBox .topColum .partial span {font-size: 30px;line-height: 45px;}
	.contact.contentBox .topColum .centerBox {width: 920px;}
	.contentBox .topColum{margin-top: 225px;}
	.contact.contentBox .topColum .formContainer input, 
	.contact.contentBox .topColum .formContainer textarea {margin: 0px 0px 18px;background: #FFF url("/app/img/siteImage/inputfield.jpg") repeat-x scroll 0% 0%;border: 1px solid #C6C6C6;color: #777;padding: 10px;}
	.contact.contentBox .topColum .formContainer input[type="submit"]{background-color: #6CA201; color:#fff;background-image: none;}
	.contact.contentBox .topColum .centerBox {margin-top: 60px;}
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}
.containerContent.map{top: 215px;}


#galry{text-align: center;position: fixed;top: 0;left: 0;width: 100%;z-index: 1000;}

#galry h3{padding: 20px 25px;font-size:30px;line-height: 36px;display:none;margin-top: 35px;z-index: 1007;background-color: #F9F9F9;border-radius: 10px;box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.15);border: 1px solid #D8D8D8;}

#galry h3.show{display: inline-block;}
