    <div id="page-header">
      <div class="title">
        <p>Bize Ulaşın</p>
      </div>
      <div class="divider-blue"></div>
      <p style="color: #D9E2C7;">bilgi@turkmenogluyemek.com</p>
    </div>
    <div id="main-body">
    
      <div id="left-body">
        <form method="POST" action="/">
          <div id="main">
          
            <h6>Ad/Soyad: </h6>
            <p>
              <input type="text" name="name" id="name" class="inputfield" />
            </p>
            
            <h6>Email:</h6>
            <p>
              <input type="text" name="email" id="email" class="inputfield" />
            </p>
            
            <h6>Mesaj:</h6>
            <p>
            
              <textarea name="message" id="comments" rows="12" cols="1" class="inputfield"></textarea>
            </p>
            <p>
              <input type="submit" name="submit" id="submit" value="Gönder" />
            </p>
            
            <ul id="response"></ul>
          </div>
        </form>
      </div>
<div id="right-body">
    <h6>Yemek Fabrikası</h6><br />
    <p>
        Adres: <br/> Fevzi Çakmak Mh. 10508. sk. No:6 <br/> (Konya ticaret borsası arkası ankara yolu üzeri )<br/> Karatay/Konya <br/><br/>
        Telefon: <br/> +90 332 342 52 68<br/><br/>
        Levent Türk<br>
    Gsm: +90 532 611 61 82 
    </p><br /><br />
    <h6>Düğün Salonu <br/>(Türkmenoğlu Pilav Pilav)</h6><br />
    <p>
        Adres: <br/> Ankara cd B. Sinan mh Belh sk. No:4/A <br/>(Hava Lojmanları Karşısı)<br/>Karatay/Konya <br/><br/>
        Telefon: <br/> +90 332 238 36 93<br/> +90 332 353 59 07<br/><br/>
        Hanifi Türk<br/>
        Gsm: +90 532 692 88 91
    </p><br /><br />
 </div>
    </div>
    <div id="main-body-bottom"></div>

    <div class="content-wrapper"> </div>
