      <div id="page-header">
      <div class="title">
        <p>Biz Kimiz? </p>
      </div>
      <div class="divider-blue"></div>
      <p style="color: #D9E2C7;">Türkmenoğlu yemek fabrikası</p>
    </div>
        <div id="page-sub-header"> <a href="/#/Dugun_Organizasyon">Düğün Organizasyonu</a> <a href="/#/Tasima_Yemek">Taşıma Yemek</a> <a href="/#/Yerinde_Yemek" id="last">Yerinde Yemek</a> </div>

    <div id="main-body">
    
      <div id="left-body">
          <h1>Kurumsal</h1>
          <br><br>
          <p>1992 yılında kurulan şirketimiz düğün pilavı pişirme ve düğün malzemeleri kiralama sektöründe halen siz değerli müşterilerimize hizmet vermektedir.</p>
          <br><br>
          <p>Müşterilerimizin ihtiyaçlarını daha fazla karşılamak amacıyla 2009 yılının şubat ayında TÜRKMENOĞLU PİLAV & PİLAV adı altında, her türlü düğün, toplantı ve özel günde müşterilerimize ev sahipliği yapmak için sektörde yeni yerimizi de sizlerin hizmetine sunmuş bulunmaktayız.</p>
          <br><br>
          <p>Çevremizden gelen istekler üzerine 2012 yılında TÜRKMENOĞLU HAZIR YEMEK FABRİKASI’nı açmış bulunmaktayız. Fabrikamızda küçük-orta-büyük kurum ve kuruluşlara günlük tabldot yemeği verilmektedir. Aynı zamanda da 750 m²’lik salonumuzla özel günlerinize ev sahipliği yapmaktayız.</p>
      </div>
<div id="right-body">
    <h6>Yemek Fabrikası</h6><br />
    <p>
        Adres: <br/> Fevzi Çakmak Mh. 10508. sk. No:6 <br/> (Konya ticaret borsası arkası ankara yolu üzeri )<br/> Karatay/Konya <br/><br/>
        Telefon: <br/> +90 332 342 52 68<br/><br/>
        Levent Türk<br>
    Gsm: +90 532 611 61 82
    </p><br /><br />
    <h6>Düğün Salonu <br/>(Türkmenoğlu Pilav Pilav)</h6><br />
    <p>
        Adres: <br/> Ankara cd B. Sinan mh Belh sk. No:4/A <br/>(Hava Lojmanları Karşısı)<br/>Karatay/Konya <br/><br/>
        Telefon: <br/> +90 332 238 36 93<br/> +90 332 353 59 07<br/><br/>
        Hanifi Türk<br/>
        Gsm: +90 532 692 88 91
    </p><br /><br />
 </div>
    </div>
    <div id="main-body-bottom"></div>

    <div class="content-wrapper"> </div>
