    <div id="page-header">
      <div class="title">
        <p>Nasıl Çalışırız?</p>
      </div>
      <div class="divider-blue"></div>
      <p style="color: #D9E2C7;">Hijyen ve güvence politikamız , mutfak kurma ve işletme yöntemlerimiz</p>
    </div>
        <div id="page-sub-header"> <a href="/#/Dugun_Organizasyon">Düğün Organizasyonu</a> <a href="/#/Tasima_Yemek">Taşıma Yemek</a> <a href="/#/Yerinde_Yemek" id="last">Yerinde Yemek</a> </div>

    <div id="main-body">
    
      <div id="left-body">
          <h1>Hijyen ve Güvence</h1>

          <p> 
Müşterilerimize sunduğumuz tüm ürünlerin, sağlık ve hijyen şartlarına uygun olarak üretilmesi, Türkmenoğlu yemek olarak üzerinde hassasiyetle durduğumuz şirket politikalarından birisidir. Bu doğrultuda hizmetlerimizin her aşamasında fiziksel, kimyasal ve mikrobiyolojik riskler belirlenerek ürünlerimiz ve üretimlerimiz sürekli kontrol altında tutulmaktadır.
</p> <p>
Hijyen standartlarının yanında besin değerleri ve hazırlanan yemeklerin içerik bakımından kalite standartları, bir insanın gün içinde gerekli tüm ihtiyaçlarını karşılayabilir nitelikte olması açısından en önemli şarttır. Karbonhidrat ağırlıklı yemeklerin işyerlerinde verimliliği düşürdüğü, bedensel ve zihinsel uyuşukluğa hatta iş kazalarına neden olduğu bilim adamları tarafından kanıtlanış bir araştırma tezi olarak gösterilmiştir.
</p><p>
Bilinçli kurum ve işverenler, çalışanlarının performansını arttırmak adına vitamin, protein ve mineral bakımından tam güvence taşıyan yemek seçimine giderek verimliliği yükseltebilmekte böylelikle de birebir tüm personeliyle pozitif bir memnuniyet algısı oluşturabilmektedir. Türkmenoğlu yemek, hazırladığı menülerde besin değerine verdiği önem ile hem damaklardan silinmeyecek lezzetlere hem de tüm çalışanlarınızın sağlıklı beslenmelerine imkan tanıyarak şirket içi veriminizi arttırmaya çalışmaktadır.
    </p>
          <br/><br/>
          <h1> Mutfak Kurma ve İşletme</h1>

          <p>
Türkmenoğlu yemek, işyerlerine mutfak kurulması veya mutfağın işletilmesi seçenekleriyle çalıştığı kurumlara profesyonel çözümler sunmaktadır. Kapasite ve üretim araştırmalarının sonucunda tasarlanacak olan mutfak kurulumları son teknolojiye sahip donanım ve yeterlilikle yüksek kalitede yemek üretimini zahmetsizce sizlere sunacaktır. Altyapısı hazır mutfakların ise genel bir fizibilite araştırmasının ardından kapasiteye göre tekrardan revize edilerek işler hale getirilmesi, yemek üretimini mevcut bünyenizden çalışanlarınıza sunulmasını sağlayacaktır.
          </p><p>
Yerinde üretim anlayışıyla, yemeğin kendi çatısı altında pişirilmesi, servis yapılması, gıda malzemelerinin kaliteli ve daha ekonomik alınması, size eşlik edecek gıda mühendisleri ve lezzet ustası aşçılarımızla toplam kalite ve hijyen kurallarına uygun yemek üretiminin yapılması ve memnuniyetiniz bizim ana kriterlerimizdir.
      </p>
      </div>
<div id="right-body">
    <h6>Yemek Fabrikası</h6><br />
    <p>
        Adres: <br/> Fevzi Çakmak Mh. 10508. sk. No:6 <br/> (Konya ticaret borsası arkası ankara yolu üzeri )<br/> Karatay/Konya <br/><br/>
        Telefon: <br/> +90 332 342 52 68<br/><br/>
        Levent Türk<br>
    Gsm: +90 532 611 61 82 
    </p><br /><br />
    <h6>Düğün Salonu <br/>(Türkmenoğlu Pilav Pilav)</h6><br />
    <p>
        Adres: <br/> Ankara cd B. Sinan mh Belh sk. No:4/A <br/>(Hava Lojmanları Karşısı)<br/>Karatay/Konya <br/><br/>
        Telefon: <br/> +90 332 238 36 93<br/> +90 332 353 59 07<br/><br/>
        Hanifi Türk<br/>
        Gsm: +90 532 692 88 91
    </p><br /><br />
 </div>
    </div>
    <div id="main-body-bottom"></div>

    <div class="content-wrapper"> </div>