    <div id="page-header">
      <div class="title">
        <p>Taşıma Yemek</p>
      </div>
      <div class="divider-blue"></div>
      <p style="color: #D9E2C7;">Günlük damak tadınız...</p>
    </div>

       <div id="page-sub-header"> <a href="/#/Dugun_Organizasyon">Düğün Organizasyonu</a> <a href="/#/Tasima_Yemek">Taşıma Yemek</a> <a href="/#/Yerinde_Yemek" id="last">Yerinde Yemek</a> </div>

    <div id="main-body">
    
      <div id="full-body">
          <div id="full-body-content">
              <h1>Günlük Damak Tadınız</h1>
              <p>İş hayatının yoğun temposunda çalışan binlerce kişiye sağlıklı, besleyici ve lezzetli menüler ile kusursuz bir yemek keyfi yaşatan Türkmenoğlu yemek, hastanelere, okullara, fabrikalara, büro ve şantiyelere verdiği hizmetlerin yanı sıra özel davet ve etkinlikler ile de sektördeki çalışmalarını başarıyla sürdürmektedir.</p>
              <hr>
               <h1>Fotoğraf Galerisi</h1>  
          </div>
          <div id="full-body-galeri">
                    <a href="/app/img/tasimaYemek/1.jpeg" class="lightbox">
                    <img alt="" src="/app/img/tasimaYemek/1.jpeg"/></a>

                    <a href="/app/img/tasimaYemek/2.jpeg" class="lightbox">
                    <img alt="" src="/app/img/tasimaYemek/2.jpeg"/></a>

                    <a href="/app/img/tasimaYemek/3.jpeg" class="lightbox">
                    <img alt="" src="/app/img/tasimaYemek/3.jpeg"/></a>

                    <a href="/app/img/tasimaYemek/4.jpeg" class="lightbox">
                    <img alt="" src="/app/img/tasimaYemek/4.jpeg"/></a>

                    <a href="/app/img/tasimaYemek/5.jpeg" class="lightbox">
                    <img alt="" src="/app/img/tasimaYemek/5.jpeg"/></a>

                    <a href="/app/img/tasimaYemek/6.jpeg" class="lightbox">
                    <img alt="" src="/app/img/tasimaYemek/6.jpeg"/></a>
          </div>      
      </div>

    </div>
    <div id="main-body-bottom"></div>

    <div class="content-wrapper"> </div>
