             <div id="featured">

        	<div id="slides">
                    <!-- slide node 1 -->
                    <div class="split" id="left">
                	<div class="right">
                            <h2>Düğün Organizasyonu</h2>
                            <ul>
                            <li>Düğün malzemeleri kiralama</li>
                            <li>Düğün çadırı kurulumu</li>
                            <li>Düğün yemeği ve servisi</li>
                            <li>Gıda malzemeleri temini</li>
                            <li>Aşcı ve personel temini</li>
                            </ul>
                            <div class="btn-gray" style="margin-left: 20px;">
                                <a href="/#/Dugun_Organizasyon">Devamını Oku</a>
                            </div>
                        </div>
               	    <div class="left">
                        <img class="radiusFull" src="/app/img/siteImage/Dugun_Organizasyon.jpg" alt="Düğün organizasyonu" />
                    </div>
                </div>
              <!-- end slide node 1 -->
              <!-- slide node 2 -->
  		<div class="split" id="left">
                    <div class="right">
                        <h2>Taşıma Yemek</h2>
                         <ul>
                            <li>Günlük tabldot yemek</li>
                            <li>Aylık yemek listesi</li>
                            <li>Mutfak kurma ve işletme </li>
                            <li>Toplu yemek organizasyonu</li>
                         </ul>
                        <div class="btn-gray" style="margin-left: 20px;">
                            <a href="/#/Tasima_Yemek">Devamını Oku</a>
                        </div>
                    </div>
                    <div class="left">
                        <img class="radiusFull" src="/app/img/siteImage/Tasima_Yemek.png" alt="Slide Image #2" />
                    </div>
                </div>
                <!-- end slide node 2 -->
                <!-- slide node 3 -->
            	<div class="split" id="right">
                	<div class="right">
                            <h2>Yerinde Yemek</h2>
                            <p>1000 (bin) kişilik yerimizle toplu davet ve organizasyonlarınızda hizmet vermekteyiz.<br>
                            Çevre düzenlemesi yapılmış havuzlu bahçemizde açık hava organizasyonlarınızı yapmaktayız.</p>
                            <div class="btn-gray" style="margin-left: 20px;">
                                <a href="/#/Yerinde_Yemek">Devamını Oku</a>
                            </div>
                        </div>
               	  	<div class="left">
                            <img class="radiusFull" src="/app/img/siteImage/Yerinde_Yemek.png" alt="yerinde yemek" />
                        </div>
                </div>
           <!-- end slide node 3 -->
            </div>
            
            <div id="featured-nav">
            
            	<a href="#" class="left activeSlide">
                    <img style="left: 22px; top: 20px;" src="/app/img/siteImage/slideOrganiz.png" width="75" height="60" alt="Placeholder Icon 3" /> 
                    <span>Düğün Organizasyonu</span>
                    Düğün organizasyonlarınızda yanınızdayız...
                </a>
                
                <a href="#" class="middle">
                    <img style="left: 26px; top: 19px;" src="/app/img/siteImage/slideTasima.png" width="75" height="63" alt="Placeholder Icon 2" /> 
                    <span>Taşıma Yemek</span>
                    Günlük damak tadınız...
              	</a>
                
                <a href="#" class="right">
                    <img style="left: 30px; top: 14px;" src="/app/img/siteImage/slideYerinde.png" width="70" height="64" alt="yerinde yemek" /> 
                    <span>Yerinde Yemek</span>
                   Yemek salonumuz ile hizmetinizdeyiz...
              	</a>
            
          </div>

        </div>

      	<div class="sidebar">
        
            <div class="bubble">
                <h3>Referanslar</h3>
                <div id="greenQuart">
                    <a href="/#/Referanslar">Tümü</a>
                </div>
            </div>
            
            <div class="ads">
                <img src="/app/img/referanslar/ankara_beton.png" alt="ankara beton" />
                <img src="/app/img/referanslar/kamil_turk.jpg" style="width: 181px;" alt="kamil türk" />
                <img src="/app/img/referanslar/ups.jpeg" style="width: 130px; margin-left: 22px;" alt="ups kargo" />
                <img src="/app/img/referanslar/kuyumcu.jpg" style="width: 181px;" alt="kuyumcu döküm" />
                <img src="/app/img/referanslar/gurdin.png" style="width: 181px;" alt="gurdin döküm" />
            </div> 
      	</div>
        <div class="content-wrapper">
        
        	<div class="content-top"></div>
            <div class="content">
            
            	<h1>Aylık Menü</h1>
                <img class="radiusFull" id="aylikImg1" alt="aylık menü" src="/app/img/siteImage/aylik-2.png"/>
                <img class="radiusNoRight" id="aylikImg2" alt="aylık menü" src="/app/img/siteImage/aylik-1.png"/>
                <div id="aylikContent">
                <p> Aylık menümüzü güncel olarak burdan takip edebilir bizimle iletişime geçebilirsiniz...  </p>
                <div class="btn-blue"><a href="/#/Bize_Ulasin">Bize Ulaşın</a></div>
                </div>
                <br class="clear" />
                <hr />
                <h1>Son Gelişmeler</h1><br />
                <div class="icon-left"><img src="/app/img/sonGel-2.png" alt="yeni web sitemiz yayında" /></div>
                
                <h6><a href="#">Mobile Web Sitemiz Yayında</a></h6><br />
                
                <p>turkmenogluyemek.com'a mobil cihazlarınızdan girdiğinizde, sizi mobil cihazlarınıza daha uyumlu ve kullanışlı mobil sitemiz karşılayacak</p><br /><br />
                
                
                <div class="icon-left"><img src="/app/img/sonGel-1.png" alt="yeni web sitemiz yayında" /></div>
                
                <h6><a href="#">Yeni Web Sitemiz Yayında</a></h6><br />
                
                <p>turkmenogluyemek.com yeni arayüzü ve hizmetleriyle yayınlandı.</p><br /><br />
                
            </div>
            <div class="content-bottom"></div>
            </div>
<script type="text/javascript" src="/app/js/cycle.js"></script>