    <div id="page-header">
      <div class="title">
        <p>Neredeyiz? </p>
      </div>
      <div class="divider-blue"></div>
      <p style="color: #D9E2C7;">Yemek fabrikası ve düğün salonu yol tarifi</p>
    </div>
        <div id="page-sub-header"> <a href="/#/Dugun_Organizasyon">Düğün Organizasyonu</a> <a href="/#/Tasima_Yemek">Taşıma Yemek</a> <a href="/#/Yerinde_Yemek" id="last">Yerinde Yemek</a> </div>

    <div id="main-body">
    
      <div id="left-body">
          
         <h1>Yemek fabrikası haritadan yol tarifi</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5367.527376507759!2d32.51873927382828!3d37.916125792736516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDU0JzU3LjAiTiAzMsKwMzEnMTkuMiJF!5e0!3m2!1str!2str!4v1485728182945" width="570" height="400" frameborder="0" class="radiusFull" style="border:1px solid #C5C1C1;" allowfullscreen></iframe>
        <br/><br/><br/>
        <h1>Düğün salonu (Türkmenoğlu Pilav Pilav) haritadan yol tarifi</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3148.6500801678885!2d32.501917314986876!3d37.891865213187764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDUzJzMwLjciTiAzMsKwMzAnMTQuOCJF!5e0!3m2!1str!2str!4v1485728421645" width="570" height="400" frameborder="0" class="radiusFull" style="border:1px solid #C5C1C1;" allowfullscreen></iframe>

      </div>
<div id="right-body">
    <h6>Yemek Fabrikası</h6><br />
    <p>
        Adres: <br/> Fevzi Çakmak Mh. 10508. sk. No:6 <br/> (Konya ticaret borsası arkası ankara yolu üzeri )<br/> Karatay/Konya <br/><br/>
        Telefon: <br/> +90 332 342 52 68<br/><br/>
        Levent Türk<br>
    Gsm: +90 532 611 61 82
    </p><br /><br />
    <h6>Düğün Salonu <br/>(Türkmenoğlu Pilav Pilav)</h6><br />
    <p>
        Adres: <br/> Ankara cd B. Sinan mh Belh sk. No:4/A <br/>(Hava Lojmanları Karşısı)<br/>Karatay/Konya <br/><br/>
        Telefon: <br/> +90 332 238 36 93<br/> +90 332 353 59 07<br/><br/>
        Hanifi Türk<br/>
        Gsm: +90 532 692 88 91
    </p><br /><br />
 </div>
    </div>
    <div id="main-body-bottom"></div>

    <div class="content-wrapper"> </div>
