    <div id="page-header">
      <div class="title">
        <p>Yerinde Yemek</p>
      </div>
      <div class="divider-blue"></div>
      <p style="color: #D9E2C7;">Yemek salonumuz ile hizmetinizdeyiz...</p>
    </div>

        <div id="page-sub-header"> <a href="/#/Dugun_Organizasyon">Düğün Organizasyonu</a> <a href="/#/Tasima_Yemek">Taşıma Yemek</a> <a href="/#/Yerinde_Yemek" id="last">Yerinde Yemek</a> </div>

    <div id="main-body">
    
      <div id="full-body">
          <div id="full-body-content">
              <h1>Yemek Salonumuz ile Hizmetinizdeyiz</h1>
              <p>1000 (bin) kişilik yerimizle toplu davet ve organizasyonlarınızda hizmet vermekteyiz.<br>
               Çevre düzenlemesi yapılmış havuzlu bahçemizde açık hava organizasyonlarınızı yapmaktayız.</p>
              <hr>
              <h1>Aylık Menü</h1>
                <img class="radiusFull" id="aylikImg1" alt="aylık menü" src="/app/img/siteImage/aylik-2.png"/>
                <img class="radiusNoRight" id="aylikImg2" alt="aylık menü" src="/app/img/siteImage/aylik-1.png"/>
                <div id="aylikContent" style="width: 450px;">
                <p> Aylık menümüzü güncel olarak burdan takip edebilir bizimle iletişime geçebilirsiniz...  </p>
                <div class="btn-blue"><a href="/Aylik_Menu.php">Aylık Menü</a></div>
                </div>
                <br class="clear" />
                <hr />
              <h1>Fotoğraf Galerisi</h1>  
          </div>
          <div id="full-body-galeri">
            <a href="/app/img/yerindeYemek/1.jpeg" class="lightbox">
            <img alt="test" src="/app/img/yerindeYemek/1.jpeg"/></a>

            <a href="/app/img/yerindeYemek/2.jpeg" class="lightbox">
            <img alt="test" src="/app/img/yerindeYemek/2.jpeg"/></a>

              <a href="/app/img/yerindeYemek/6.jpeg" class="lightbox">
            <img alt="test" src="/app/img/yerindeYemek/6.jpeg"/></a>
              
            <a href="/app/img/yerindeYemek/3.jpeg" class="lightbox">
            <img alt="test" src="/app/img/yerindeYemek/3.jpeg"/></a>

            <a href="/app/img/yerindeYemek/4.jpeg" class="lightbox">
            <img alt="test" src="/app/img/yerindeYemek/4.jpeg"/></a>
              
            <a href="/app/img/yerindeYemek/5.jpeg" class="lightbox">
            <img alt="test" src="/app/img/yerindeYemek/5.jpeg"/></a>

          </div>      
      </div>

    </div>
    <div id="main-body-bottom"></div>

    <div class="content-wrapper"> </div>
