<div class="contentBox aboutUs">

<div class="topColum">

		<h1>Kurumsal</h1>
		<p>
1992 yılında kurulan şirketimiz düğün pilavı pişirme ve düğün malzemeleri kiralama sektöründe halen siz değerli müşterilerimize hizmet vermektedir.
</p>
<p>
Müşterilerimizin ihtiyaçlarını daha fazla karşılamak amacıyla 2009 yılının şubat ayında TÜRKMENOĞLU PİLAV & PİLAV adı altında, her türlü düğün, toplantı ve özel günde müşterilerimize ev sahipliği yapmak için sektörde yeni yerimizi de sizlerin hizmetine sunmuş bulunmaktayız.
</p>
<p>
Çevremizden gelen istekler üzerine 2012 yılında TÜRKMENOĞLU HAZIR YEMEK FABRİKASI’nı açmış bulunmaktayız. Fabrikamızda küçük-orta-büyük kurum ve kuruluşlara günlük tabldot yemeği verilmektedir. Aynı zamanda da 750 m²’lik salonumuzla özel günlerinize ev sahipliği yapmaktayız.</p>


<h1>Hijyen ve Güvence</h1>
<p>
Müşterilerimize sunduğumuz tüm ürünlerin, sağlık ve hijyen şartlarına uygun olarak üretilmesi, Türkmenoğlu yemek olarak üzerinde hassasiyetle durduğumuz şirket politikalarından birisidir. Bu doğrultuda hizmetlerimizin her aşamasında fiziksel, kimyasal ve mikrobiyolojik riskler belirlenerek ürünlerimiz ve üretimlerimiz sürekli kontrol altında tutulmaktadır.
</p>
<p>
Hijyen standartlarının yanında besin değerleri ve hazırlanan yemeklerin içerik bakımından kalite standartları, bir insanın gün içinde gerekli tüm ihtiyaçlarını karşılayabilir nitelikte olması açısından en önemli şarttır. Karbonhidrat ağırlıklı yemeklerin işyerlerinde verimliliği düşürdüğü, bedensel ve zihinsel uyuşukluğa hatta iş kazalarına neden olduğu bilim adamları tarafından kanıtlanış bir araştırma tezi olarak gösterilmiştir.
</p>
<p>
Bilinçli kurum ve işverenler, çalışanlarının performansını arttırmak adına vitamin, protein ve mineral bakımından tam güvence taşıyan yemek seçimine giderek verimliliği yükseltebilmekte böylelikle de birebir tüm personeliyle pozitif bir memnuniyet algısı oluşturabilmektedir. Türkmenoğlu yemek, hazırladığı menülerde besin değerine verdiği önem ile hem damaklardan silinmeyecek lezzetlere hem de tüm çalışanlarınızın sağlıklı beslenmelerine imkan tanıyarak şirket içi veriminizi arttırmaya çalışmaktadır.
</p>

<h1>Mutfak Kurma ve İşletme</h1>
<p>
Türkmenoğlu yemek, işyerlerine mutfak kurulması veya mutfağın işletilmesi seçenekleriyle çalıştığı kurumlara profesyonel çözümler sunmaktadır. Kapasite ve üretim araştırmalarının sonucunda tasarlanacak olan mutfak kurulumları son teknolojiye sahip donanım ve yeterlilikle yüksek kalitede yemek üretimini zahmetsizce sizlere sunacaktır. Altyapısı hazır mutfakların ise genel bir fizibilite araştırmasının ardından kapasiteye göre tekrardan revize edilerek işler hale getirilmesi, yemek üretimini mevcut bünyenizden çalışanlarınıza sunulmasını sağlayacaktır.
</p>
<p>
Yerinde üretim anlayışıyla, yemeğin kendi çatısı altında pişirilmesi, servis yapılması, gıda malzemelerinin kaliteli ve daha ekonomik alınması, size eşlik edecek gıda mühendisleri ve lezzet ustası aşçılarımızla toplam kalite ve hijyen kurallarına uygun yemek üretiminin yapılması ve memnuniyetiniz bizim ana kriterlerimizdir.
</p>


</div>

</div> 