<div class="contentBox contact">
<div class="topColum">
	<div class="labelContainer">
		<label>İSİM <i>:</i></label>
		<label>E-MAIL <i>:</i></label>
		<label>MESAJ <i>:</i></label>
	</div>
	<div class="formContainer">
		<form method="POST" action="/">
			<input name="name" class="name" type="text">
			<input name="email" class="email" type="text">
			<textarea name="message" class="message"></textarea>
			<input class="redButton" type="submit" value="BİZE SORUN (...?)">
		</form>
		<span class="result"></span>
	</div>
<div class="centerBox">
<hr>
	<div class="partial">
		<span>
		Fevzi Çakmak Mh. 10508. sk. No:6 (Konya ticaret borsası arkası ankara yolu üzeri )<br>
		Karatay/Konya<br>
		+90 332 342 52 68<br><br>
		Levent Türk<br>
		Gsm: +90 532 611 61 82 </span>
	</div>
	<div class="partial">
		<span>
		Ankara cd B. Sinan mh Belh sk. No:4/A(Hava Lojmanları Karşısı)<br>
		Karatay/Konya<br>
		+90 332 238 36 93<br>
+90 332 353 59 07<br><br>
		Hanifi Türk<br>
		Gsm: +90 532 692 88 91 </span>
	</div>

</div>
</div>
</div> 
