<div class="contentBox aboutUs hizmet">

<div class="topColum">
<h1>Düğün Organizasyonlarınızda Yanınızdayız</h1>
<p>
Sektördeki yerimizi her geçen gün hizmet kalitemizi arttırarak sağlamlaştırmaktayız, yaptığımız yatırımlar sayesinde bugün İçanadolu bölgesinin bir çok yerine geleneksel düğün yemeğini götürmekteyiz.
</p><p>
20 yılı aşkın tecrübemizle geleneksel konya düğün pilavı yapımı için aşcı malzeme ve personel temini yapmaktayız... 
</p>
<hr>
<div id="full-body-galeri">
           <a href="/app/img//dugunOrganizasyonu/1.jpeg" class="lightbox">
            <img alt="" src="/app/img//dugunOrganizasyonu/1.jpeg"/></a>

            <a href="/app/img//dugunOrganizasyonu/2.jpeg" class="lightbox">
            <img alt="" src="/app/img//dugunOrganizasyonu/2.jpeg"/></a>

            <a href="/app/img//dugunOrganizasyonu/3.jpeg" class="lightbox">
            <img alt="" src="/app/img//dugunOrganizasyonu/3.jpeg"/></a>

            <a href="/app/img//dugunOrganizasyonu/4.jpeg" class="lightbox">
            <img alt="" src="/app/img//dugunOrganizasyonu/4.jpeg"/></a>
              
            <a href="/app/img//dugunOrganizasyonu/5.jpeg" class="lightbox">
            <img alt="" src="/app/img//dugunOrganizasyonu/5.jpeg"/></a>

            <a href="/app/img//dugunOrganizasyonu/6.jpeg" class="lightbox">
            <img alt="" src="/app/img//dugunOrganizasyonu/6.jpeg"/></a>

            <a href="/app/img//dugunOrganizasyonu/7.jpeg" class="lightbox">
            <img alt="" src="/app/img//dugunOrganizasyonu/7.jpeg"/></a>
              
            <a href="/app/img//dugunOrganizasyonu/8.jpeg" class="lightbox">
            <img alt="" src="/app/img//dugunOrganizasyonu/8.jpeg"/></a>
          </div><hr>
<h1>Günlük Damak Tadınız</h1>
<p>
İş hayatının yoğun temposunda çalışan binlerce kişiye sağlıklı, besleyici ve lezzetli menüler ile kusursuz bir yemek keyfi yaşatan Türkmenoğlu yemek, hastanelere, okullara, fabrikalara, büro ve şantiyelere verdiği hizmetlerin yanı sıra özel davet ve etkinlikler ile de sektördeki çalışmalarını başarıyla sürdürmektedir.
</p><hr>
<div id="full-body-galeri">
                    <a href="/app/img/tasimaYemek/1.jpeg" class="lightbox">
                    <img alt="" src="/app/img/tasimaYemek/1.jpeg"/></a>

                    <a href="/app/img/tasimaYemek/2.jpeg" class="lightbox">
                    <img alt="" src="/app/img/tasimaYemek/2.jpeg"/></a>

                    <a href="/app/img/tasimaYemek/3.jpeg" class="lightbox">
                    <img alt="" src="/app/img/tasimaYemek/3.jpeg"/></a>

                    <a href="/app/img/tasimaYemek/4.jpeg" class="lightbox">
                    <img alt="" src="/app/img/tasimaYemek/4.jpeg"/></a>

                    <a href="/app/img/tasimaYemek/5.jpeg" class="lightbox">
                    <img alt="" src="/app/img/tasimaYemek/5.jpeg"/></a>

                    <a href="/app/img/tasimaYemek/6.jpeg" class="lightbox">
                    <img alt="" src="/app/img/tasimaYemek/6.jpeg"/></a>
          </div>  <hr>

<h1>Yemek Salonumuz ile Hizmetinizdeyiz</h1>
<p>
1000 (bin) kişilik yerimizle toplu davet ve organizasyonlarınızda hizmet vermekteyiz.
Çevre düzenlemesi yapılmış havuzlu bahçemizde açık hava organizasyonlarınızı yapmaktayız.</p>
<hr>
<div id="full-body-galeri">
            <a href="/app/img/yerindeYemek/1.jpeg" class="lightbox">
            <img alt="test" src="/app/img/yerindeYemek/1.jpeg"/></a>

            <a href="/app/img/yerindeYemek/2.jpeg" class="lightbox">
            <img alt="test" src="/app/img/yerindeYemek/2.jpeg"/></a>

              <a href="/app/img/yerindeYemek/6.jpeg" class="lightbox">
            <img alt="test" src="/app/img/yerindeYemek/6.jpeg"/></a>
              
            <a href="/app/img/yerindeYemek/3.jpeg" class="lightbox">
            <img alt="test" src="/app/img/yerindeYemek/3.jpeg"/></a>

            <a href="/app/img/yerindeYemek/4.jpeg" class="lightbox">
            <img alt="test" src="/app/img/yerindeYemek/4.jpeg"/></a>
              
            <a href="/app/img/yerindeYemek/5.jpeg" class="lightbox">
            <img alt="test" src="/app/img/yerindeYemek/5.jpeg"/></a>

          </div>     <hr>
</div>

</div> 