	<div class="centerContainer home">
		<div class="containerContent">

			<ul class="homeSlider"> 
				<li class="slider3">
					<ul>
                        <li>Düğün malzemeleri kiralama</li>
                        <li>Düğün çadırı kurulumu</li>
                        <li>Düğün yemeği ve servisi</li>
                        <li>Gıda malzemeleri temini</li>
                        <li>Aşcı ve personel temini</li>
                    </ul>
					<img src="/app/img/mobile/slider2.jpg">
				</li>
				<li class="slider2">
					<ul>
                        <li>Günlük tabldot yemek</li>
                        <li>Aylık yemek listesi</li>
                        <li>Mutfak kurma ve işletme </li>
                        <li>Toplu yemek organizasyonu</li>
                    </ul>
					<img src="/app/img/mobile/slider3.jpg">
				</li>
				<li class="slider1 show">
					<ul>
						<li>1000 (bin) kişilik yerimizle toplu davet ve organizasyonlarınızda hizmet vermekteyiz.</li>
						<li>Çevre düzenlemesi yapılmış havuzlu bahçemizde açık hava organizasyonlarınızı yapmaktayız.</li>
					</ul>
					<img src="/app/img/mobile/slider1.jpg">

				</li>
			</ul>
			<ul class="homeFooter">
				<li class="slider1 show">
				<a href="/#/hizmetler">
					<i></i>
					<h3>YERİNDE YEMEK</h3>
					</a>
				</li>
				<li class="slider2">
					<a href="/#/hizmetler">
					<i></i>
					<h3>TAŞIMA YEMEK</h3>
					</a>
				</li>
				<li class="slider3" style="width:37.5%">
					<a href="/#/hizmetler">
					<i></i>
					<h3 style="width: 175px;">DÜĞÜN ORGANİZASYON</h3></a>
				</li>

			</ul>
		</div>
	</div>