/* Owl Carousel CSS3 */

.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper:after {
	content: ".";
	clear: both;
	display: block;
	line-height: 0;
	visibility: hidden;
	height: 0;
}

/* grabbing */
.grabbing { 
    cursor: deafult;
}

.owl-carousel .owl-wrapper{
	position: relative;
	display: none;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	width: 100%;
	position: relative;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
    float: left;
    cursor: url("../images/icon-move.png"), move;
}
.owl-carousel.light-pagination .owl-item{
	float: left;
    cursor: url("../images/icon-move-light.png"), move;
}

.owl-carousel.light-paginatio .owl-item{
	float: left;
        cursor: url("../images/icon-move-ligh.png"), move;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
/* owl controls */
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
.cursor-default .owl-item {
    cursor: default !important
}